*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
/* build header bar */
header .hamburger, #home, header .sideMenu .cardSidebar ul.closed{
    display: block;
    cursor: pointer;
}
header .hamburger .line{
    width: 3rem;
    height: 0.3rem;
    background-color: #222831;
    margin: 10% 0;
}
header #home h3, header #enroll{
    font-size: 2rem;
}
/* build side menu bar */
header .sideMenu{
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    line-height: 1.5;
    background-color: #222831;
    height: 100%;
    transition: all 0.6s ease;
    font-size: 1.2rem;
}
header .sideMenu .cardSidebar ul li{
    list-style: none;
    color: #EEEEEE;
}
header .sideMenu .cardSidebar a{
    color: #EEEEEE;
    position: relative;
}
header .sideMenu .cardSidebar ul.closed{
    width: fit-content;
    font-size: 2rem;
    font-size: 700;
}
header .sideMenu .cardSidebar.all-program{
    margin-top: 2rem;
}
header .sideMenu .cardSidebar .programs ul{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
header .sideMenu .cardSidebar .programs ul li, ul.contacts li{
    padding-right: 1rem;
}
header .sideMenu .cardSidebar ul.contacts{
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
}
/* build responsive side menu bar */
header .sideMenu .cardSidebar a:before{
    content: "";
    position: absolute;
    background-color: #EEEEEE;
    height: 0.2rem;
    width: 0;
    bottom: 10px;
    left: 0;
    transition: all 0.4s ease;
}
header .sideMenu .cardSidebar a:hover::before{
    width: 100%;
}
header .sideMenu.active{
    left: 0;
    transition: all 0.6s ease;
}
/* build main top body page */
main{
    padding: 0 5%;
    background-color: #EEEEEE;
}
main #topSheet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    text-align: center;
    width: 100%;
}
main #topSheet h1{
    line-height: 1.2;
    margin-bottom: 2%;
    width: 80%;
}
main #topSheet a{
    width: fit-content;
}
main #topSheet a.btn-color{
    background-color: #222831;
    color: #EEEEEE;
}
main #topSheet a.btn-colorless{
    color: #222831;
}
main #topSheet a.btn-colorless:before{
    content: "";
    position: absolute;
    background-color: #222831;
    height: 0.1rem;
    width: 100%;
    bottom: 0.8rem;
}
/* build main middle body page */
main #middleSheet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main #middleSheet .middleCarousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}
main #middleSheet .middleCarousel img{
    width: 5rem;
}
main #middleSheet .middleCarousel h3{
    font-weight: 700;
    line-height: 1.5;
}
main #middleSheet .middleCarousel h3.text-mc{
    margin-top: 2rem;
    text-align: center;
}
main #middleSheet .middleCarousel h2{
    font-weight: 700;
    line-height: 1.5;
}
main #middleSheet .middleCarousel a.btn-colorless{
    border: solid #222831 0.2rem;
    color: #222831;
}
main #middleSheet .middleCarousel a.btn-colorless:hover{
    background-color: #222831;
    color: #EEEEEE;
    transition: all 0.3s ease;   
}
main #middleSheet .middleCarousel .mdCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main #middleSheet .middleCarousel .mdCard p{
    line-height: 1.3;
    font-weight: 600;
}
main #middleSheet .middleCarousel .mdCard.middle-programs{
    display: flex;
    justify-content: center;
}
main #middleSheet .middleCarousel .mdCard .miniCard{   
    padding: 0 1rem;
}
/* build footer */
footer{
    background-color: #222831;
    display: flex;
    width: 100%;
    height: 100vh;
    color: #EEEEEE;
    line-height: 1.2;
}
footer .carouselFooter{
    padding: 0 5%;
}
footer ul li{
    list-style: none;
}
footer .btm-footer ul .text-footer{
    font-weight: 700;
}
footer a{
    color: #EEEEEE;
}
footer .btm-footer ul{
    padding: 1rem 0;
}
footer .right-footer .top-footer a{
    font-size: 1rem;
}
@media only screen and (min-width: 450px){
/* build header bar */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 3% 5% 1% 5%;
        background-color: #FBD46D;
    }
    header .hamburger .line{
        margin: 10% 0;
    }
    header #enroll a{
        border: solid #222831 0.2rem;
        color: #222831;
        padding: 0 0.5rem;
    }
    header #enroll a:hover{
        background-color: #222831;
        color: #EEEEEE;
        transition: all 0.3s ease;
    }
    /* build side menu bar */
    header .sideMenu .cardSidebar{
        margin: 3rem 0;
        padding-left: 15%;
    }
    /* build main top body page */
    main #topSheet{
        padding: 0 15%;
    }
    main #topSheet h1{
        font-size: 5rem;
    }
    main #topSheet a{
        margin: 3% 0;
        position: relative;
    }
    main #topSheet a.btn-color{
        padding: 0 4rem;
        font-size: 2rem;
    }
    main #topSheet a.btn-colorless{
        font-size: 1.5rem;
    }
    /* build main middle body page */
    main #middleSheet .middleCarousel h3{
        font-size: 2.4rem;
    }
    main #middleSheet .middleCarousel h2{
        font-size: 4.5rem;
    }
    main #middleSheet .middleCarousel a.btn-colorless{
        font-size: 1.5rem;
        margin-top: 5rem;
        padding: 0 1.5rem;
    }
    main #middleSheet .middleCarousel h3.text-mc{
        width: 50%;
    }
    main #middleSheet .middleCarousel .mdCard p{
        width: 38%;
        font-size: 1.5rem;
    }
    main #middleSheet .middleCarousel .mdCard.middle-programs{
        flex-direction: row;
        align-items: flex-start;
    }
    main #middleSheet .middleCarousel .mdCard .miniCard{
        margin: 8rem 5rem 0 5rem;
    }
    main #middleSheet .middleCarousel .mdCard .miniCard h3{
        line-height: 1.2;
        padding-bottom: 1.5rem;
    }
    main #middleSheet .middleCarousel .mdCard .miniCard a.btn-colorless{
        font-size: 1.2rem;
    }
    main #middleSheet .middleCarousel.bottom-mc a.btn-colorless{
        margin-top: 1rem;
    }

    /* build footer */
    footer{
        height: 100vh;
    }
    footer a{
        position: relative;
    }
    footer .left-footer{
        width: 70%;
    }
    footer .right-footer{
        width: 30%;
    }
    footer .top-footer{
        height: 30%;
        margin-top: 5rem;
    }
    footer .btm-footer{
        align-items: flex-end;
        width: fit-content;
        margin-top: 10rem;
    }
    footer .left-footer .top-footer h3{
        font-size: 2rem;
    }
    footer .left-footer .btm-footer h3{
        font-size: 7rem;
        letter-spacing: -0.2rem;
    }
    /* build footer hover*/
    footer a:before{
        content: "";
        position: absolute;
        background-color: #EEEEEE;
        height: 0.1rem;
        width: 0;
        bottom: 10px;
        left: 0;
        transition: all 0.4s ease;
    }
    footer a:hover::before{
        width: 100%;
    }
}
/*build mobile website*/
@media only screen and (max-width: 450px){
    /*build header menu*/
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 5%;
        background-color: #FBD46D;
        width: 100%;
    }
    header .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
    }
    header .hamburger .line{
        margin: 5% 0;
    }
    header h3{
        margin-top: 5%;
    }
    header #enroll{
        display: none;
    }
    /*build side menu bar*/
    header .sideMenu{
        height: 100%;
        width: 60%;
    }
    header .sideMenu .cardSidebar{
        margin: 10% 0;
        padding: 0 10%;
    }
    header .sideMenu .cardSidebar.menu-programs, header .sideMenu .cardSidebar.menu-contact{
        margin-top: 5rem;
    }
    /*build main top body page*/
    main #topSheet{
        padding: 50% 15%;
    }
    main #topSheet h1{
        font-size: 3rem;
    }
    main #topSheet a{
        margin: 5% 0;
    }
    main #topSheet a.btn-color{
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        font-size: 1.5rem;
    }
    main #topSheet a.btn-colorless{
        font-size: 1rem;
        position: relative;
    }
    /* build main middle body page */
    main #middleSheet .middleCarousel h3{
        font-size: 1.5rem;
    }
    main #middleSheet .middleCarousel h3.text-mc{
        width: 100%;
        padding-bottom: 3rem;
    }
    main #middleSheet .middleCarousel h2{
        padding-top: 5rem;
        font-size: 3.5rem;
        text-align: center;
        line-height: 1;
    }
    main #middleSheet .middleCarousel .mdCard p{
        width: 90%;
        font-size: 1.3rem;
        padding-bottom: 4rem;
    }
    main #middleSheet .middleCarousel .mdCard.middle-programs{
        flex-direction: column;
        align-items: center;
    }
    main #middleSheet .middleCarousel .mdCard .miniCard{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main #middleSheet .middleCarousel .mdCard .miniCard h3{
        line-height: 1.5;
        width: 80%;
        padding-bottom: 1.5rem;
    }
    main #middleSheet .middleCarousel a.btn-colorless{
        font-size: 1rem;
        margin-top: 0.1rem;
        padding: 0 1rem;
    }
    main #middleSheet .middleCarousel .mdCard .miniCard a.btn-colorless{
        font-size: 1.2rem;
    }
    main #middleSheet .middleCarousel.bottom-mc a.btn-colorless{
        margin-top: 1rem;
    }
    /* build footer */
    footer{
        flex-direction: column;
        height: 100%;
    }
    footer .carouselFooter .top-footer h3{
        display: none;
    }
    footer .carouselFooter .btm-footer h3{
        margin-top: 10rem;
        font-size: 3rem;
        letter-spacing: -0.3rem;
    }
}