*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav{
    background-color: antiquewhite;
    padding: 2% 10%;
    width: 50%;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 0 10%;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    width: 100%;
    /* padding: 4px 0; */
}
nav ul li a:before{
    content: "";
    position: absolute;
    background-color: black;
    height: 1.5px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
}
nav ul li a:hover::before{
    width: 100%;
}


/* nav ul li a:hover::after{
    width: 10%;
    margin-top: -10px;
    transition: 0.3s linear;
} */